<div class="titleProduct">
    <div class="text">
        Productos
    </div>
    <div class="conteinerBtn">
        <a href="/productos/agregar" class="add">
            Agregar producto
        </a>
    </div>


</div>

<div class="conteinerTable">
    <div class="headTable">
        <div class="TitleHeadTable S">ID</div>
        <div class="TitleHeadTable L">Acciones</div>
        <div class="TitleHeadTable L">Nombre</div>
        <div class="TitleHeadTable M">Marca</div>
        <div class="TitleHeadTable M">Categoría</div>
        <div class="TitleHeadTable M">Subcategoría</div>
        <div class="TitleHeadTable M">Precio</div>
        <div class="TitleHeadTable S">Stock</div>
        <div class="TitleHeadTable L">Imagen</div>
        <div class="TitleHeadTable XL">Descripción</div>

    </div>
    {{#each producto}}

    <div class="BodyTable">
        <div class="DatoBodyTable S">{{id}}</div>
        <div class="DatoBodyTable L actions active" id="{{id}}options">
            <div class="btn-danger" onclick="Contienrdelete({{id}})">
                <i class="fa-solid fa-ban"></i>
            </div>
            <div class="conteinerDelete" id="{{{id}}}"></div>
            <a href="/productos/editar/{{id}}" type="button" class="btn-warning">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>

        </div>
        <div class="DatoBodyTable L actions secure" id="{{id}}secure">
            <div class="titleAction">
                ¿Desea eliminar el registro?
            </div>
            <div class="conteineroptionsAction">
                <a href="productos/eliminar/{{id}}" class="optionsAction delete">si</a>
                <div class="optionsAction notdelete" onclick="Contienrdelete({{id}})" >no</div>
            </div>



        </div>
        <div class="DatoBodyTable L">{{name}}</div>
        <div class="DatoBodyTable M">{{marca}}</div>
        <div class="DatoBodyTable M">{{category}}</div>
        <div class="DatoBodyTable M">{{subcategory}}</div>
        <div class="DatoBodyTable M">${{price}}</div>
        <div class="DatoBodyTable S">{{{stock}}} u.</div>
        <div class="DatoBodyTable L">
            <img src="{{{img}}}">
        </div>
        <div class="DatoBodyTable XL">{{{description}}}</div>

    </div>
    {{/each}}

</div>